.ant-btn-primary {
  background-color: var(--dark-blue) !important;
}

.ant-btn-primary.ant-btn-dangerous {
  background-color: var(--danger) !important;
}

.ant-btn[disabled],
.ant-btn-disabled {
  opacity: 0.7 !important;
  transition: opacity 0.15s ease;
  border: none !important;
}


.ant-select-focused .ant-select-selector {
  border-color: var(--dark-blue) !important;
  box-shadow: 0 0 0 2px rgba(0, 100, 255, 0.3) !important;
}

.ant-select:hover .ant-select-selector {
  border-color: var(--dark-blue) !important;
}

.ant-input {
  transition: all 0.2s;

  &:hover {
    border-color: var(--dark-blue) !important;
  }

  &:focus {
    border-color: var(--dark-blue) !important;
    box-shadow: 0 0 0 2px rgba(0, 100, 255, 0.25) !important;
  }
}

.ant-input-affix-wrapper-focused,
.ant-input-textarea:focus,
.ant-input-textarea-focused {
  border-color: var(--dark-blue) !important;
  box-shadow: 0 0 0 2px rgba(0, 100, 255, 0.25) !important;
}