@import "tailwindcss";
@import "./antd.css";
@import "./variable.css";

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.container {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}

.btn-orange {
  background-color: orange !important;
  color: white !important;
}